<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Sign Detection</title>
    <link rel="stylesheet" href="/app/app/static/styles.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="/upload">Predict</a></li>
        </ul>
    </nav>

    <!-- Section 1 - Home with Background Image -->
    <section id="home" class="section-with-bg" style="background-image: url('/app/app/static/files/back1.jpg');">
        <h2>Traffic Sign Detection and Recognition</h2>
        <div class="button-container">
            <button><a href="/upload">Go to predict</a></button>
        </div>
    </section>

    <!-- Section 2 - About with Background Image -->
    <section id="about" class="section-with-bg" style="background-image: url('/app/app/static/files/back2.jpg');">
        <h2>About the Project</h2>
        <p>
            This project is focused on detecting and recognizing traffic signs using the YOLO (You Only Look Once)
            deep learning model. The aim is to develop a system that can accurately classify traffic signs in real time.
        </p>
        <p><em>Under the supervision of Dr. Mahmoud Talaat.</em> </p>
    </section>

    <!-- Section 3 - Team with Circular Images -->
    <section id="team">
        <div class="content">
            <h2>Team Members</h2>
            <div class="team-members">
                <div class="member">
                    <img src="/app/app/static/files/img2.jpg" alt="Abdelrahman Mostafa Abdo">
                    <p>Abdelrahman Mostafa Abdo</p>
                </div>
                <div class="member">
                    <img src="/app/app/static/files/img3.jpg" alt="Mahmoud Mohamed Mahmoud">
                    <p>Mahmoud Mohamed Mahmoud</p>
                </div>
                <div class="member">
                    <img src="/app/app/static/files/img11.jpg" alt="Mohamed Ashraf Abdel-Maqsoud">
                    <p>Mohamed Ashraf Abdel-Maqsoud</p>
                </div>
                <div class="member">
                    <img src="/app/app/static/files/img4.jpg" alt="Ahmed Emad Abdalluh">
                    <p>Ahmed Emad Abdalluh</p>
                </div>
                <div class="member">
                    <img src="/app/app/static/files/img5.jpg" alt="Abdelrahman Mostafa Hassan">
                    <p>Abdelrahman Mostafa Hassan</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>© 2024 Traffic Sign Detection Project</p>
    </footer>

</body>

</html>